<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAB4</title>
    <script src="/src/js/add_cat.js"></script>
    <link rel="stylesheet" href="/src/css/style.css">

</head>
<body>
    <div>
        <h3>Add new club:</h3>
        <form id="form">
            <label for="newCatName">Name:</label><br>
            <input type="text" name="newCatName" id="newCatName"><br>
            <label for="newCatBudget">Budget:</label><br>
            <input type="text" name="newCatBudget" id="newCatBudget"><br>
            <label for="newCatYear">Year founded:</label><br>
            <input type="text" name="newCatYear" id="newCatYear"><br>
            <button type="button" onclick="addCategory()">Add</button>
            <button type="button" onclick="window.location.href='/src/view/index.html'">Cancel</button>
        </form>
    </div>
</body>
</html>