<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAB4</title>
    <script src="/src/js/det_ele.js"></script>
</head>
<body onload="onload()">
    <div>
        <h2>Player:</h2>
        <p>Name and surname: <span id="eleName"></span></p>
        <p>Age: <span id="eleAge"></span></p>
        <p>Club: <span id="eleClub"></span></p>
        <button type="button" onclick=cancel()>Cancel</button>
    </div>
</body>
</html>