<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAB4</title>
    <script src="/src/js/det_cat.js"></script>
    <link rel="stylesheet" href="/src/css/style.css">
</head>
<body onload="onload()">
    <div>
        <h2>Club:</h2>
        <p>Club name: <span id="catName"></span></p>
        <p>Club budget: <span id="catBudget"></span></p>
        <p>Club year of foundation: <span id="catYear"></span></p>
        <h3>Players of club:</h3>
        <ul id="elements">
        </ul>
        <a id="newPlayerLink">Add new player</a>
        <button type="button" onclick="window.location.href='/src/view/index.html'">Cancel</button>
    </div>
</body>
</html>