<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAB4</title>
    <script src="/src/js/index.js"></script>
    <link rel="stylesheet" href="/src/css/style.css">
</head>
<body onload="onload()">
    <div>
        <h2>Clubs:</h2>
        <ul id="categories">
        </ul>
    </div>
    <a href="/src/view/add_cat.html">Add new club</a>
</body>
</html>