table {
    min-width: 50%;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color: seagreen;
    color: whitesmoke;
}

td {
    background-color: antiquewhite;
    font-weight: bold;
}

form {
    padding: 10px;
}

input {
    margin-bottom: 6px;
    min-width: 50%;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 4px;
    border-radius: 5px;
    background-color: lightgreen;
    margin: 4px;
}